<div class="main_container">
  <header class="author_header">
    <div class="image_container">
      <h1>Ashley Williams</h1>
      <%= image_tag "ashley.jpg", alt: "Ashley", class: "author_picture" %>
    </div>
      <div class="white_background"></div>
      <h2>About me</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto cumque dolor asperiores commodi facilis inventore! 
        Nisi nulla doloremque et sapiente maxime, perferendis ipsam dolores corrupti distinctio facilis mollitia explicabo? Modi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe maxime illum rerum nobis, et debitis reiciendis quo 
        eaque, eius laudantium ut deleniti nemo qui ab totam tenetur corrupti? Blanditiis, laudantium.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam rem nesciunt ducimus architecto, a quo esse perferendis 
        laborum inventore harum odio, perspiciatis odit qui totam fugit consequatur, soluta mollitia tempore?
      </p>
      <footer>
        <a class="icon_link" href=""><%= image_tag "github-mark", alt: "Link to the author's Github page"%></a>
        <a class="icon_link" href=""><%= image_tag "LI-mark", alt: "Link to the author's LinkedIn page"%></a>
        <a class="icon_link" href=""><%= image_tag "X-mark", alt: "Link to the author's X page"%></a>
      </footer>
  </header>

  <main>
    <h2 class="article_title">My Work</h2>
    <div class="article_container">
      <%= render "article", image: "forest-road", alt_text: "photo of a colorful forest", project_title: "Colorful Forest, Render" %>
      <%= render "article", image: "mountain", alt_text: "photo of a sharp moutain peak during a bright sunset", project_title: "Mountain During Sunset, Render" %>
      <%= render "article", image: "fireflies", alt_text: "photo of a forest at night with colorful fireflies flying around", project_title: "Fantasy Forest At Night, Render" %>
      <%= render "article", image: "cyberpunk", alt_text: "photo of a woman's back, looking towards a sprawling cyberpunk city", project_title: "Cyberpunk, Full Game" %>
      <%= render "article", image: "planets", alt_text: "photo of an alien world with many planets visible in the sky", project_title: "Universe Simulator, in Progress" %>
      <%= render "article", image: "dark-souls", alt_text: "photo of a knight facing a dark castle in a swampy land", project_title: "Soulslike, Game in Progress" %>
    </div>
  </main>

  <footer class="contact">
    <div class="contact_details">
      <h1>Contact me</h1>
      <p>Please get in touch if you think our work could be mutually beneficial!</p>
      <div class="address">
        <p>1234 Random Road</p>
        <p>Random Town, California 12345</p>
      </div>
      <div class="phone_number">
        <%= image_tag "call", alt: "", class: "icon_link"%>
        <p>555-555-5555</p>
      </div>
       <div class="mail">
        <%= image_tag "mail", alt: "", class: "icon_link"%>
        <p>ashleywilliams.is.not.real@gmail.com</p>
      </div>
      <div class="socials">
        <a class="icon_link" href=""><%= image_tag "github-mark", alt: "Link to the author's Github page"%></a>
        <a class="icon_link" href=""><%= image_tag "LI-mark", alt: "Link to the author's LinkedIn page"%></a>
        <a class="icon_link" href=""><%= image_tag "X-mark", alt: "Link to the author's X page"%></a>
      </div>
    </div>

    <%= image_tag "ashley-phone", alt: "photo of Ashley talking on the phone in front of her laptop", class: "contact_photo"%>
  </footer>

  <div class="attributions">
    <a href="https://www.flaticon.com/free-icons/brands-and-logotypes" title="brands and logotypes icons">Brands and logotypes icons created by Freepik @ Flaticon</a>
    <a href="https://www.flaticon.com/free-icons/phone" title="phone icons">Phone icons created by Smashicons @ Flaticon</a> 
    <a href="https://www.flaticon.com/free-icons/email" title="email icons">Email icons created by Freepik @ Flaticon</a>
  </div>
</div>
