<div class="main_container">
  <header class="about_author_header">
    <div class="author_picture">
      <h1>Ashley Williams</h1>
      <%= image_tag "ashley.jpg", alt: "Ashley" %>
    </div>
    <div class="about">
      <h2>About me</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto cumque dolor asperiores commodi facilis inventore! 
        Nisi nulla doloremque et sapiente maxime, perferendis ipsam dolores corrupti distinctio facilis mollitia explicabo? Modi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe maxime illum rerum nobis, et debitis reiciendis quo 
        eaque, eius laudantium ut deleniti nemo qui ab totam tenetur corrupti? Blanditiis, laudantium.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam rem nesciunt ducimus architecto, a quo esse perferendis 
        laborum inventore harum odio, perspiciatis odit qui totam fugit consequatur, soluta mollitia tempore?
      </p>
      <footer>
        <a class="icon_link" href=""><%= image_tag "github-mark", alt: "Link to the author's Github page"%></a>
        <a class="icon_link" href=""><%= image_tag "LI-mark", alt: "Link to the author's LinkedIn page"%></a>
        <a class="icon_link" href=""><%= image_tag "X-mark", alt: "Link to the author's X page"%></a>
      </footer>
    </div>
  </header>

  <main>
    <h2 class="article_title">My Work</h2>
    <article>
      <div class="article_image_container">
        <%= image_tag "forest-road", alt: "photo of a colorful forest" %>
      </div>
      <div class="project_details">
        <header class="project_header">
          <div class="project_title">
            <h2>Colorful Forest, Render</h2>
          </div>
          <div class="project_links"> 
            <a class="icon_link" href=""><%= image_tag "github-mark", alt: "Link to the github page of the project"%></a>
            <a class="icon_link" href=""><%= image_tag "expand-arrows", alt: "Link to project"%></a>
          </div>
      
        </header>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius earum voluptatem aut, possimus numquam provident 
          quos aliquid sapiente quisquam. Molestiae aliquid veniam commodi dicta modi architecto nulla eligendi culpa. Aspernatur!
        </p>
      </div>
    </article>
    <article>
      <div class="article_image_container">
        <%= image_tag "mountain", alt: "photo of a sharp moutain peak during a bright sunset" %>
      </div>
      <div class="project_details">
        <header class="project_header">
          <div class="project_title">
            <h2>Mountain During Sunset, Render</h2>
          </div>
          <div class="project_links"> 
            <a class="icon_link" href=""><%= image_tag "github-mark", alt: "Link to the github page of the project"%></a>
            <a class="icon_link" href=""><%= image_tag "expand-arrows", alt: "Link to project"%></a>
          </div>
      
        </header>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius earum voluptatem aut, possimus numquam provident 
          quos aliquid sapiente quisquam. Molestiae aliquid veniam commodi dicta modi architecto nulla eligendi culpa. Aspernatur!
        </p>
      </div>
    </article>
    <article>
      <div class="article_image_container">
        <%= image_tag "fireflies", alt: "photo of a forest at night with colorful fireflies flying around" %>
      </div>
      <div class="project_details">
        <header class="project_header">
          <div class="project_title">
            <h2>Fantasy Forest At Night, Render</h2>
          </div>
          <div class="project_links"> 
            <a class="icon_link" href=""><%= image_tag "github-mark", alt: "Link to the github page of the project"%></a>
            <a class="icon_link" href=""><%= image_tag "expand-arrows", alt: "Link to project"%></a>
          </div>
      
        </header>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius earum voluptatem aut, possimus numquam provident 
          quos aliquid sapiente quisquam. Molestiae aliquid veniam commodi dicta modi architecto nulla eligendi culpa. Aspernatur!
        </p>
      </div>
    </article>
    <article>
      <div class="article_image_container">
        <%= image_tag "cyberpunk", alt: "photo of a woman's back, looking towards a sprawling cyberpunk city" %>
      </div>
      <div class="project_details">
        <header class="project_header">
          <div class="project_title">
            <h2>Cyberpunk, Full Game</h2>
          </div>
          <div class="project_links"> 
            <a class="icon_link" href=""><%= image_tag "github-mark", alt: "Link to the github page of the project"%></a>
            <a class="icon_link" href=""><%= image_tag "expand-arrows", alt: "Link to project"%></a>
          </div>
      
        </header>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius earum voluptatem aut, possimus numquam provident 
          quos aliquid sapiente quisquam. Molestiae aliquid veniam commodi dicta modi architecto nulla eligendi culpa. Aspernatur!
        </p>
      </div>
    </article>
    <article>
      <div class="article_image_container">
        <%= image_tag "planets", alt: "photo of an alien world with many planets visible in the sky" %>
      </div>
      <div class="project_details">
        <header class="project_header">
          <div class="project_title">
            <h2>Universe Simulator, in Progress</h2>
          </div>
          <div class="project_links"> 
            <a class="icon_link" href=""><%= image_tag "github-mark", alt: "Link to the github page of the project"%></a>
            <a class="icon_link" href=""><%= image_tag "expand-arrows", alt: "Link to project"%></a>
          </div>
      
        </header>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius earum voluptatem aut, possimus numquam provident 
          quos aliquid sapiente quisquam. Molestiae aliquid veniam commodi dicta modi architecto nulla eligendi culpa. Aspernatur!
        </p>
      </div>
    </article>
    <article>
      <div class="article_image_container">
        <%= image_tag "dark_souls", alt: "photo of a knight facing a dark castle in a swampy land"%>
      </div>
      <div class="project_details">
        <header class="project_header">
          <div class="project_title">
            <h2>Soulslike, Game in Progress</h2>
          </div>
          <div class="project_links"> 
            <a class="icon_link" href=""><%= image_tag "github-mark", alt: "Link to the github page of the project"%></a>
            <a class="icon_link" href=""><%= image_tag "expand-arrows", alt: "Link to project"%></a>
          </div>
      
        </header>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius earum voluptatem aut, possimus numquam provident 
          quos aliquid sapiente quisquam. Molestiae aliquid veniam commodi dicta modi architecto nulla eligendi culpa. Aspernatur!
        </p>
      </div>
    </article>
  </main>

  <footer>
    <a href="https://www.flaticon.com/free-icons/brands-and-logotypes" title="brands and logotypes icons">Brands and logotypes icons created by Freepik - Flaticon</a>
  </footer>
</div>
